﻿@page "/datatest"

<h1>Datatest</h1>


<EditForm Model="@invoiceDto" OnSubmit="@(async () => await submitInvoice())">
    <MatDialogContent>
        <DataAnnotationsValidator />
        <p>Invoice name:</p>
        <p>
            <MatTextField id="Name" Label="invoice name" autocomplete=off @bind-Value="@invoiceDto.Adress" Required="true"></MatTextField>
            <ValidationMessage For="@(() => invoiceDto.Adress)" />
        </p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton Type="button">Cancel</MatButton>
        <MatButton Raised="true" Type="submit">Submit</MatButton>
    </MatDialogActions>
</EditForm>



@code {

    private InvoiceDto invoiceDto = new InvoiceDto();
    private List<InvoiceDto> invoices;

    private async Task submitInvoice()
    { /*
addDialogIsOpen = false;
if (newinvoiceDto.Name == null)
{
    errorDialogIsOpen = true;
    return;
} */
        try
        {
            await Http.PostJsonAsync($"{DefaultValues.BaseApiUrl}/Invoices", invoiceDto);
        }
        catch(Exception ex)
        { }
    }

}
